<form method="post" action="{{ path('app_tusuario_delete', {'idUsuario': tusuario.idUsuario}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tusuario.idUsuario) }}">
    <button class="btn">Delete</button>
</form>
